{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <a href="{{ path('meterAdd') }}">Add New Meter</a>

    <h1>Meter Entries</h1><br>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Utility Type</th>
          {#  <th>Properties</th>#}
            <th>Description</th>
         {#   <th>Created By</th>#}
            <th>Created Date</th>
          {#  <th>Active</th>#}
            <th colspan="2">Actions</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.id }}</td>
            <td>{{ entry.name }}</td>
            <td>{{ entry.utilityType }}</td>
         {#   <td>{{ entry.property_id_1 }}{{ entry.property_id_2 }}{{ entry.property_id_3 }}</td>#}
            <td>{{ entry.description }}</td>
           {# <td>{{ entry.created_by }}</td>#}
            <td>{{ entry.created }}</td>
            {#<th>{{ entry.is_active }}</th>#}
            <td>[<a href="/">Edit</a>]</td>
            <td>[<a href="/">Delete</a>]</td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}
