{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <a href="{{ path('meterView') }}">View All Meters</a>

    <h1>Meter Info</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Utility Type</th>
            <th>Properties</th>
            <th>Description</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Active</th>
        </tr>

            <tr>
                <td>{{ entry.id }}</td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.utilityType }}</td>
                <td>{{ entry.propertyId1 }}{{ entry.propertyId2 }}{{ entry.propertyId3 }}</td>
                <td>{{ entry.description }}</td>
                <td>{{ entry.createdBy }}</td>
                <td>{{ entry.created|date('Y-m-d') }}</td>
                {% if entry.isActive == 1  %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}
            </tr>
    </table>

    <h1>Meter Reads</h1>

    {% if readentries|length > 0 %}

        <table>
            <tr>
                <th>ID</th>
                <th>Meter Read</th>
                <th>Peak</th>
                <th>Consumption</th>
                <th>Total Dollars</th>
                <th>Created</th>
            </tr>

            {% for readentry in readentries %}
                <tr>
                    <td>{{ readentry.id }}</td>
                    <td>{{ readentry.meterRead }}</td>
                    <td>{{ readentry.peak }}</td>
                    <td>{{ readentry.consumption }}</td>
                    <td>{{ readentry.totalDollars }}</td>
                    <td>{{ readentry.created|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}

        </table>
    {% else %}
        No meter reads associated with this meter

    {% endif %}





    <h1>Meter Notes</h1>

    No notes associated with this meter

{% endblock %}
