{% extends 'base.html.twig' %}

{% block body %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

   {# <style type="text/css">

        .odd {
            padding-top:5px;
        }
        .even {
            background-color:#F9F9F9;
            border-top:solid #F0f0f0 1px;
            border-bottom:solid #F0f0f0 1px;
            padding-top:5px;
        }
    </style> #}

    <h1>Meter Entry</h1><br>
    <div class="form-container">
        {{ form_start(form) }}
            {#  {{ form_widget(form) }}#}
            {% for child in form.children %}
                {% if loop.index0 % 2 == 0 %}
                    <div class="even">  {{ form_row(child) }} </div>
                {% else %}
                    <div class="odd">  {{ form_row(child) }} </div>
                {% endif %}
            {% endfor %}

        {{ form_end(form) }}
    </div>


    <script>
        $( document ).ready(function() {

            var buildings = [
                "0060 - ADAMS HALL","0173 - AERO ENGINEERING LAB","0079 - AGRICULTURAL & LIFE SCIENCES BUILDING","0350 - ANIMAL PHYSIOLOGY LAB","0178 - APIARY (BEE) BLDG","0197 - ARNOLD DINING CENTER","0826 - ASIAN & PACIFIC CULTURAL CENTER","0827 - ASIAN & PACIFIC CULTURAL CENTER","0090 - AUSTIN HALL","0194 - AVERY HOUSE","0026 - AZALEA HOUSE","0067 - BALLARD EXTENSION HALL","0009 - BATCHELLER HALL","0069 - BATES HALL (FAMILY STUDY CENTER)","0365 - BEEF POLE BARN","0146 - BELL TOWER","0029 - BENTON ANNEX (WOMEN'S CENTER)","0027 - BENTON HALL","0206 - BETH RAY CENTER FOR ACADEMIC SUPPORT","0018 - BEXELL HALL","0387 - BIOLOGICAL CURATION BLDG.","0835 - BLACK CULTURAL CENTER (NEW BLDG - NOT YET CONSTRUCTED)","0198 - BLOSS HALL","0227 - BUOY LAB","0068 - BURT HALL","0111 - BUXTON HALL","0192 - CALLAHAN HALL","0204 - CARRIE HALSELL RESIDENCE HALL","0058 - CASCADE HALL","0114 - CAUTHORN HALL","0813 - CENTRO CULTURAL CEZAR CHAVEZ","2037 - CFD - Station #2","0201 - CH2M HILL ALUMNI CENTER","0354 - CHEMICAL STORAGE","0188 - CHILD CARE CENTER","0088 - CLARK LABORATORY","0224 - COASTAL OCEANOGRAPHY LAB","0368 - COMMODITY STORAGE FACILITY","0073 - CORDLEY HALL","0007 - COVELL HALL","0080 - CROP SCIENCE BUILDING","0840 - Custodial Garage","0839 - CUSTODIAL SERVICES BLDG","0342 - CW HAY BEDDING STORAGE","0817 - DAWES HOUSE","0011 - DEARBORN HALL","0195 - DIXON HOUSE","0145 - DIXON RECREATION CENTER","0151 - DRYDEN HALL","0177 - DUST MIXING-MACHINE STORAGE","0807 - EARTH, OCEAN & ATMOSPHERIC SCIENCES ADMINISTRATION BUILDING","0074 - EAST GREENHOUSE","0024 - EAST GREENHOUSE Starter shed","0025 - EAST GREENHOUSE WORK SHED","0078 - ENERGY CENTER","0175 - ENTOMOLOGY MACHINE STORAGE","0141 - ENVIRONMENTAL HEALTH & SAFETY ANNEX","2015 - EPA - 102","2014 - EPA - 147","2005 - EPA ENVIRONMENTAL RESEARCH LABS","0542 - F R L GARAGE & WAREHOUSE","0540 - F R L GREENHOUSE","0544 - F R L INSECTARY","0547 - F R L LUMBER STORAGE","0546 - F R L SOLVENT SHED","0543 - F R L WAREHOUSE","0082 - FAIRBANKS ANNEX","0087 - FAIRBANKS HALL","0351 - FARM SERVICE","0353 - FARM SERVICE EQUIP STORAGE","0370 - Farm Service Equipment Shed 1","0371 - Farm Service Equipment Shed 2","0352 - FARM SERVICE QUONSET","2008 - FED - USDA HORTICULTURAL CROPS RESEARCH LAB","2010 - FED - USDA NATIONAL FORAGE SEED PRODUCTION RESEARCH CENTER","0369 - Feed Barn","0349 - FEED CENTER","0348 - Feeding Shelter 1","0385 - Feeding Shelter 2","0428 - FF LAB FEED","0427 - FF MINK RESIDENCE","0421 - FF RESIDENCE","0103 - FILTERING PLANT (LANGTON)","0196 - FINLEY HALL","0549 - FORESTRY GREENHOUSE - OAK CREEK COMPLEX","0210 - FRL - 376","0209 - FRL - 377","0176 - FUMIGATORIUM & SHOP","0012 - GILBERT ADDITION","0015 - GILBERT HALL","0037 - GILKEY HALL","0121 - GILL COLISEUM","0091 - GILMORE ANNEX","0084 - GILMORE HALL","0033 - GLADYS VALLEY GYMNASTICS CENTER","0016 - GLEESON HALL (CHEM ENGR)","0126 - GOSS BASEBALL MAINTENACE BUILDING","0108 - GOSS STADIUM","0006 - GRAF HALL","0077 - HALLIE E. FORD CENTER FOR HEALTHY CHILDREN AND FAMILIES","0119 - HAWLEY HALL","2028 - HCRL - 157","2031 - HCRL - 158","2029 - HCRL - 159","2450 - HCRL - 160","2027 - HCRL - 161","2034 - HCRL - 162","2030 - HCRL - 422","2032 - HCRL - 427","2033 - HCRL - 428","0116 - HECKART LODGE","2060 - HILTON GARDEN INN","0137 - HINSDALE WAVE RESEARCH LAB","0367 - HOGG ANIMAL METABOLISM LABORATORY","0092 - HOVLAND HALL","0054 - INDOOR TARGET RANGE","0059 - INDUSTRIAL BLDG ANNEX","0207 - INTERNATIONAL LIVING LEARNING CENTER","0364 - JAMES E. OLDFIELD ANIMAL TEACHING FACILITY","0089 - JEFFERSON STREET BUILDING (JSB)","0008 - JOHNSON HALL","0028 - JOYCE COLLIN FURMAN HALL","0001 - KEARNEY HALL","0003 - KELLEY ENGINEERING CENTER","0061 - KERR ADMINISTRATION BUILDING","0034 - KIDDER HALL","0259 - LAB ANIMAL RESOURCES CENTER","0105 - LANGTON HALL","0200 - LASELLS STEWART CENTER","0071 - LINUS PAULING SCIENCE CENTER","0153 - MAGRUDER HALL","0160 - MANURE SHED","0221 - MARINE GEOLOGY CORE LAB","0223 - MARINE GEOLOGY REPOSITORY","0222 - MARINE TECHNICIAN BUILDING","0113 - MARKETPLACE WEST DINING CENTER","0053 - MCALEXANDER FIELDHOUSE","0193 - MCNARY DINING CENTER","0190 - MCNARY HALL","0083 - MEMORIAL UNION BLDG","0142 - MERRIT TRUAX INDOOR PRACTICE CENTER","0002 - MERRYFIELD HALL","0081 - MILAM HALL","0020 - MILNE COMPUTER CENTER","0426 - MINK FARM","0106 - MORELAND HALL","0135 - MOTOR POOL","0136 - MOTOR POOL ANNEX","0021 - NASH HALL","0085 - NATIVE AMERICAN LONGHOUSE EENA HAWS","0117 - NAVY ROTC ARMORY","0180 - NURSERY STORAGE","0545 - OAK CREEK BUILDING","0181 - Oak Creek Feed Shelter","2443 - OAK CREEK GREENHOUSE STORAGE SHED","0541 - Oak Creek Hazmat Storage","0226 - OCEAN MIXING LAB","0225 - OCEANOGRAPHY INSTRUMENTATION LAB/CORE REPOSITORY","0172 - OCEANOGRAPHY STAGING BLDG (CYCLATRON)","0202 - ORCHARD COURT APARTMENTS","0866 - OSU Foundation Call Center","0865 - OSU FOUNDATION CENTER","2466 - OSU FOUNDATION STORAGE SHED 1","2465 - OSU FOUNDATION STORAGE SHED 2","0171 - OUTDOOR REC MAINTENANCE PAVILION","0022 - OWEN HALL","0220 - OXFORD HOUSE","0205 - PARKING GARAGE","0124 - PEAVY HALL","0030 - PHARMACY","0051 - PHYSICAL PLANT - PAINT","0043 - PHYSICAL PLANT -VEHICLE SHED A","0056 - PHYSICAL PLANT HEATING PLANT","0050 - PHYSICAL PLANT MATERIAL SHED","0046 - PHYSICAL PLANT SHOPS","0047 - PHYSICAL PLANT VEHICLE SHED","0383 - PHYSICAL PLANT WHSE 1","0384 - PHYSICAL PLANT WHSE 2","0042 - PHYSICAL PLANT-LUBE BLDG","0044 - PHYSICAL PLANT-VEHICLE SHED B","0062 - PLAGEMAN STUDENT HEALTH CR","0158 - POLE BARN","0112 - POLING HALL","0149 - POULTRY HOUSE G","0853 - PRIDE CENTER","0851 - Pride Center Garage","0850 - Pride Center Storage","0862 - PROPERTY SERVICES","0357 - RABBIT RESEARCH LAB I","0358 - RABBIT RESEARCH LAB II","0098 - RADIATION CENTER","0093 - RADIATION CENTER GREENHOUSE","0118 - REED LODGE","0120 - RESER STADIUM","0148 - RICHARDSON HALL","0019 - ROGERS HALL","0096 - SACKETT HALL","2063 - SAMARITAN SPORTS MEDICINE CENTER","0101 - SEED LAB","0405 - SF INDUST WASTE RES LAB","0404 - SF POULTRY BROODER","0403 - SF POULTRY CAGE-LAYER HSE","0406 - SF POULTRY FARM STORE SH","0411 - SF POULTRY HOUSE 500","0407 - SF POULTRY HOUSE 551","0408 - SF POULTRY HOUSE 552","0409 - SF POULTRY HOUSE 553","0410 - SF POULTRY HOUSE 554","0401 - SF RESIDENCE","0014 - SHEPARD HALL","0100 - SNELL HALL/MU EAST","0147 - SOFTBALL FIELD RESTROOMS","0518 - SOFTBALL STADIUM","0156 - SPORTS PERFORMANCE CENTER","0378 - STOCKING JUDGING PAVILION","0039 - STUDENT EXPERIENCE CENTER","0854 - STUDENT SUSTAINABILITY CENTER","0860 - SUNFLOWER HOUSE- KANE T 128 S 9TH ST","0855 - SUSTAINABILITY SUPPORT CENTER GARAGE","0189 - TEBEAU HALL","0127 - TENNIS PAVILION (WASH. WAY)","0045 - THE ACCESS LOCK AND KEY SHOP","0199 - THE GEM","0032 - THE INFORMATION BOOTH","0036 - THE VALLEY LIBRARY","0097 - UHDS MAINTENANCE CENTER","2006 - USDA FORESTRY SCIENCES LAB","0143 - VALLEY FOOTBALL CENTER","0162 - VET DAIRY BARN","0155 - VET HORSE BARN (POLE BLDG)","0154 - VET RESEARCH LAB","0163 - VET SHEEP BARN","0138 - W GRNHSE (W11&12) HORT/GC","0102 - WALDO HALL","0109 - WEATHERFORD HALL","0017 - WENIGER HALL","0129 - WEST GREENHOUSE (W17-20)","0131 - WEST GREENHOUSE (W21)","0139 - WEST GREENHOUSE (W6&7)","0132 - WEST GREENHOUSE (W8&9)","0140 - WEST GREENHOUSE WING 5","0133 - WEST GRNHSE (W10)","0134 - WEST GRNHSE GLASS","0130 - WEST GRNHSE W13-16 CROP/GC","0115 - WEST HALL","0128 - WIEGAND HALL","0070 - WILKINSON HALL / GILFILLAN AUDITORIUM","0191 - WILSON HALL","0075 - WITHYCOMBE HALL","0086 - WOMENS BUILDING"];

            $("#meter_propertyId1").autocomplete({
                source: buildings,
                select: function( event, ui ) {
                },
                minLength: 1,
                delay: 100,
            });
            $("#meter_propertyId2").autocomplete({
                source: buildings,
                select: function( event, ui ) {
                },
                minLength: 1,
                delay: 100,
            });
            $("#meter_propertyId3").autocomplete({
                source: buildings,
                select: function( event, ui ) {
                },
                minLength: 1,
                delay: 100,
            });
         /*   $("#form_propertyId1").change(function() {
                validateBuilding();
            });

            $("#form_propertyId1").blur(function() {
                        validateBuilding();
                    }
            );
            function validateBuilding() {
                if ($("#form_propertyId1").val().length <= 1) return false;
                var value = $("#form_propertyId1").val().substring(0,5);
                var patt = new RegExp(/^[0-9]{4}/);
                if (value.match(patt)) {
                    $('#building-error').hide();
                    return true;
                } else {
                    $('#building-error').show();
                    return false;
                }

            }*/

        });


        // Your code goes here.

    </script>



    {#

<script type="text/javascript">
    //<![CDATA[
    $(document).ready(function(){
        $( ".datepicker" ).datepicker({
            showOn: "both",
            buttonImage: "http://apps-webdev.campusops.oregonstate.edu/jordann/portal/img/calendar.png",
            minDate: -60,
            dateFormat: 'mm/dd/yy'
        });
        var buildings = [
            "0060 - ADAMS HALL","0173 - AERO ENGINEERING LAB","0079 - AGRICULTURAL & LIFE SCIENCES BUILDING","0350 - ANIMAL PHYSIOLOGY LAB","0178 - APIARY (BEE) BLDG","0197 - ARNOLD DINING CENTER","0826 - ASIAN & PACIFIC CULTURAL CENTER","0827 - ASIAN & PACIFIC CULTURAL CENTER","0090 - AUSTIN HALL","0194 - AVERY HOUSE","0026 - AZALEA HOUSE","0067 - BALLARD EXTENSION HALL","0009 - BATCHELLER HALL","0069 - BATES HALL (FAMILY STUDY CENTER)","0365 - BEEF POLE BARN","0146 - BELL TOWER","0029 - BENTON ANNEX (WOMEN'S CENTER)","0027 - BENTON HALL","0206 - BETH RAY CENTER FOR ACADEMIC SUPPORT","0018 - BEXELL HALL","0387 - BIOLOGICAL CURATION BLDG.","0835 - BLACK CULTURAL CENTER (NEW BLDG - NOT YET CONSTRUCTED)","0198 - BLOSS HALL","0227 - BUOY LAB","0068 - BURT HALL","0111 - BUXTON HALL","0192 - CALLAHAN HALL","0204 - CARRIE HALSELL RESIDENCE HALL","0058 - CASCADE HALL","0114 - CAUTHORN HALL","0813 - CENTRO CULTURAL CEZAR CHAVEZ","2037 - CFD - Station #2","0201 - CH2M HILL ALUMNI CENTER","0354 - CHEMICAL STORAGE","0188 - CHILD CARE CENTER","0088 - CLARK LABORATORY","0224 - COASTAL OCEANOGRAPHY LAB","0368 - COMMODITY STORAGE FACILITY","0073 - CORDLEY HALL","0007 - COVELL HALL","0080 - CROP SCIENCE BUILDING","0840 - Custodial Garage","0839 - CUSTODIAL SERVICES BLDG","0342 - CW HAY BEDDING STORAGE","0817 - DAWES HOUSE","0011 - DEARBORN HALL","0195 - DIXON HOUSE","0145 - DIXON RECREATION CENTER","0151 - DRYDEN HALL","0177 - DUST MIXING-MACHINE STORAGE","0807 - EARTH, OCEAN & ATMOSPHERIC SCIENCES ADMINISTRATION BUILDING","0074 - EAST GREENHOUSE","0024 - EAST GREENHOUSE Starter shed","0025 - EAST GREENHOUSE WORK SHED","0078 - ENERGY CENTER","0175 - ENTOMOLOGY MACHINE STORAGE","0141 - ENVIRONMENTAL HEALTH & SAFETY ANNEX","2015 - EPA - 102","2014 - EPA - 147","2005 - EPA ENVIRONMENTAL RESEARCH LABS","0542 - F R L GARAGE & WAREHOUSE","0540 - F R L GREENHOUSE","0544 - F R L INSECTARY","0547 - F R L LUMBER STORAGE","0546 - F R L SOLVENT SHED","0543 - F R L WAREHOUSE","0082 - FAIRBANKS ANNEX","0087 - FAIRBANKS HALL","0351 - FARM SERVICE","0353 - FARM SERVICE EQUIP STORAGE","0370 - Farm Service Equipment Shed 1","0371 - Farm Service Equipment Shed 2","0352 - FARM SERVICE QUONSET","2008 - FED - USDA HORTICULTURAL CROPS RESEARCH LAB","2010 - FED - USDA NATIONAL FORAGE SEED PRODUCTION RESEARCH CENTER","0369 - Feed Barn","0349 - FEED CENTER","0348 - Feeding Shelter 1","0385 - Feeding Shelter 2","0428 - FF LAB FEED","0427 - FF MINK RESIDENCE","0421 - FF RESIDENCE","0103 - FILTERING PLANT (LANGTON)","0196 - FINLEY HALL","0549 - FORESTRY GREENHOUSE - OAK CREEK COMPLEX","0210 - FRL - 376","0209 - FRL - 377","0176 - FUMIGATORIUM & SHOP","0012 - GILBERT ADDITION","0015 - GILBERT HALL","0037 - GILKEY HALL","0121 - GILL COLISEUM","0091 - GILMORE ANNEX","0084 - GILMORE HALL","0033 - GLADYS VALLEY GYMNASTICS CENTER","0016 - GLEESON HALL (CHEM ENGR)","0126 - GOSS BASEBALL MAINTENACE BUILDING","0108 - GOSS STADIUM","0006 - GRAF HALL","0077 - HALLIE E. FORD CENTER FOR HEALTHY CHILDREN AND FAMILIES","0119 - HAWLEY HALL","2028 - HCRL - 157","2031 - HCRL - 158","2029 - HCRL - 159","2450 - HCRL - 160","2027 - HCRL - 161","2034 - HCRL - 162","2030 - HCRL - 422","2032 - HCRL - 427","2033 - HCRL - 428","0116 - HECKART LODGE","2060 - HILTON GARDEN INN","0137 - HINSDALE WAVE RESEARCH LAB","0367 - HOGG ANIMAL METABOLISM LABORATORY","0092 - HOVLAND HALL","0054 - INDOOR TARGET RANGE","0059 - INDUSTRIAL BLDG ANNEX","0207 - INTERNATIONAL LIVING LEARNING CENTER","0364 - JAMES E. OLDFIELD ANIMAL TEACHING FACILITY","0089 - JEFFERSON STREET BUILDING (JSB)","0008 - JOHNSON HALL","0028 - JOYCE COLLIN FURMAN HALL","0001 - KEARNEY HALL","0003 - KELLEY ENGINEERING CENTER","0061 - KERR ADMINISTRATION BUILDING","0034 - KIDDER HALL","0259 - LAB ANIMAL RESOURCES CENTER","0105 - LANGTON HALL","0200 - LASELLS STEWART CENTER","0071 - LINUS PAULING SCIENCE CENTER","0153 - MAGRUDER HALL","0160 - MANURE SHED","0221 - MARINE GEOLOGY CORE LAB","0223 - MARINE GEOLOGY REPOSITORY","0222 - MARINE TECHNICIAN BUILDING","0113 - MARKETPLACE WEST DINING CENTER","0053 - MCALEXANDER FIELDHOUSE","0193 - MCNARY DINING CENTER","0190 - MCNARY HALL","0083 - MEMORIAL UNION BLDG","0142 - MERRIT TRUAX INDOOR PRACTICE CENTER","0002 - MERRYFIELD HALL","0081 - MILAM HALL","0020 - MILNE COMPUTER CENTER","0426 - MINK FARM","0106 - MORELAND HALL","0135 - MOTOR POOL","0136 - MOTOR POOL ANNEX","0021 - NASH HALL","0085 - NATIVE AMERICAN LONGHOUSE EENA HAWS","0117 - NAVY ROTC ARMORY","0180 - NURSERY STORAGE","0545 - OAK CREEK BUILDING","0181 - Oak Creek Feed Shelter","2443 - OAK CREEK GREENHOUSE STORAGE SHED","0541 - Oak Creek Hazmat Storage","0226 - OCEAN MIXING LAB","0225 - OCEANOGRAPHY INSTRUMENTATION LAB/CORE REPOSITORY","0172 - OCEANOGRAPHY STAGING BLDG (CYCLATRON)","0202 - ORCHARD COURT APARTMENTS","0866 - OSU Foundation Call Center","0865 - OSU FOUNDATION CENTER","2466 - OSU FOUNDATION STORAGE SHED 1","2465 - OSU FOUNDATION STORAGE SHED 2","0171 - OUTDOOR REC MAINTENANCE PAVILION","0022 - OWEN HALL","0220 - OXFORD HOUSE","0205 - PARKING GARAGE","0124 - PEAVY HALL","0030 - PHARMACY","0051 - PHYSICAL PLANT - PAINT","0043 - PHYSICAL PLANT -VEHICLE SHED A","0056 - PHYSICAL PLANT HEATING PLANT","0050 - PHYSICAL PLANT MATERIAL SHED","0046 - PHYSICAL PLANT SHOPS","0047 - PHYSICAL PLANT VEHICLE SHED","0383 - PHYSICAL PLANT WHSE 1","0384 - PHYSICAL PLANT WHSE 2","0042 - PHYSICAL PLANT-LUBE BLDG","0044 - PHYSICAL PLANT-VEHICLE SHED B","0062 - PLAGEMAN STUDENT HEALTH CR","0158 - POLE BARN","0112 - POLING HALL","0149 - POULTRY HOUSE G","0853 - PRIDE CENTER","0851 - Pride Center Garage","0850 - Pride Center Storage","0862 - PROPERTY SERVICES","0357 - RABBIT RESEARCH LAB I","0358 - RABBIT RESEARCH LAB II","0098 - RADIATION CENTER","0093 - RADIATION CENTER GREENHOUSE","0118 - REED LODGE","0120 - RESER STADIUM","0148 - RICHARDSON HALL","0019 - ROGERS HALL","0096 - SACKETT HALL","2063 - SAMARITAN SPORTS MEDICINE CENTER","0101 - SEED LAB","0405 - SF INDUST WASTE RES LAB","0404 - SF POULTRY BROODER","0403 - SF POULTRY CAGE-LAYER HSE","0406 - SF POULTRY FARM STORE SH","0411 - SF POULTRY HOUSE 500","0407 - SF POULTRY HOUSE 551","0408 - SF POULTRY HOUSE 552","0409 - SF POULTRY HOUSE 553","0410 - SF POULTRY HOUSE 554","0401 - SF RESIDENCE","0014 - SHEPARD HALL","0100 - SNELL HALL/MU EAST","0147 - SOFTBALL FIELD RESTROOMS","0518 - SOFTBALL STADIUM","0156 - SPORTS PERFORMANCE CENTER","0378 - STOCKING JUDGING PAVILION","0039 - STUDENT EXPERIENCE CENTER","0854 - STUDENT SUSTAINABILITY CENTER","0860 - SUNFLOWER HOUSE- KANE T 128 S 9TH ST","0855 - SUSTAINABILITY SUPPORT CENTER GARAGE","0189 - TEBEAU HALL","0127 - TENNIS PAVILION (WASH. WAY)","0045 - THE ACCESS LOCK AND KEY SHOP","0199 - THE GEM","0032 - THE INFORMATION BOOTH","0036 - THE VALLEY LIBRARY","0097 - UHDS MAINTENANCE CENTER","2006 - USDA FORESTRY SCIENCES LAB","0143 - VALLEY FOOTBALL CENTER","0162 - VET DAIRY BARN","0155 - VET HORSE BARN (POLE BLDG)","0154 - VET RESEARCH LAB","0163 - VET SHEEP BARN","0138 - W GRNHSE (W11&12) HORT/GC","0102 - WALDO HALL","0109 - WEATHERFORD HALL","0017 - WENIGER HALL","0129 - WEST GREENHOUSE (W17-20)","0131 - WEST GREENHOUSE (W21)","0139 - WEST GREENHOUSE (W6&7)","0132 - WEST GREENHOUSE (W8&9)","0140 - WEST GREENHOUSE WING 5","0133 - WEST GRNHSE (W10)","0134 - WEST GRNHSE GLASS","0130 - WEST GRNHSE W13-16 CROP/GC","0115 - WEST HALL","0128 - WIEGAND HALL","0070 - WILKINSON HALL / GILFILLAN AUDITORIUM","0191 - WILSON HALL","0075 - WITHYCOMBE HALL","0086 - WOMENS BUILDING"];
        $('.popup').click(function(event) {
            event.preventDefault();
            var myWindow = window.open($(this).attr("href"), "popupWindow", "width=600,height=600,scrollbars=yes");
            myWindow.focus();
        });

        if ($('.form-error').length) {
            $('.form-error').focus();
        } else {
            $('.form-container input[type="text"], .form-container textarea, .form-container select').each(function() {
                if ( this.value === '' ) {
                    this.focus();
                    return false;
                }
            });
        }
        $("#propertyId1").autocomplete({
            source: buildings,
            select: function( event, ui ) {
            },
            minLength: 2,
            delay: 100,
        });
        $("#propertyId1").change(function() {
            validateBuilding();
        });

        $("#propertyId1").blur(function() {
                    validateBuilding();
                }
        );
        function validateBuilding() {
            if ($("#propertyId1").val().length <= 1) return false;
            var value = $("#propertyId1").val().substring(0,5);
            var patt = new RegExp(/^[0-9]{4}/);
            if (value.match(patt)) {
                $('#building-error').hide();
                return true;
            } else {
                $('#building-error').show();
                return false;
            }

        }
    });
    //]]>
</script>#}

{% endblock %}
