{% extends 'base.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block body %}

    <h1>Rate Adjustment Entry</h1><br>

    {{ form_start(form) }}
    {{ form_widget(form) }}
   {# {{ form_label(form.invoiceMonth, "test name", {'label_attr': {'class': 'RateAdjustment'}}) }}
    {{ form_widget(form.invoiceMonth, {'attr': {'class': 'RateAdjustment'}}) }}

    {{ form_row(form.invoiceYear, {'label': 'foo'})}}#}
    {{ form_end(form) }}


{% endblock %}
